{% extends "base.html" %}

{% block content %}
<head>
  <title>Streaming Video Recorder</title>
</head>
<body>
  <h1>Streaming Video Recorder</h1>
  <div id="recorder">
    <button id="record">Record</button>
    <button id="stop">Stop</button>
    <script type="text/javascript" src="{{ url_for('static', filename='recorderScript.js') }}"></script>
  </div>
  <img id="video" src="{{ url_for('video_viewer') }}">
<p> Emotion is shown in rectangle around face! (With some errors depending on lighting and face angles) </p>
</body>
{% endblock %}