
<head>
  <title>Statistics</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/chartist.js/latest/chartist.min.css">
    <script src="https://cdn.jsdelivr.net/chartist.js/latest/chartist.min.js"></script>
    <script src="https://ajax.aspnetcdn.com/ajax/jQuery/jquery-3.4.1.min.js"></script>
</head>
<body>
    <div class="ct-chart ct-perfect-fourth"></div>
<script>
        //var myChart;
         var getData = $.get('/chartsData');

         getData.done(function(results){

            var data = {
              // A labels array that can contain any sort of values
              labels: ['neutral', 'anger', 'disgust', 'fear', 'happy', 'sadness', 'surprise'],
              // Our series array that contains series objects or in this case series data arrays
              series: [
                results.results
              ]
            };

            // Create a new line chart object where as first parameter we pass in a selector
            // that is resolving to our chart container element. The Second parameter
            // is the actual data object.
            myChart = new Chartist.Bar('.ct-chart', data);

         });
 </script>
</body>
